 
<%- include("partials/header");  -%> 
<h1 style="font-size: 3rem;">Contact Information</h1>
<p style="font-size: 1.9rem; margin-top: 40px;">Email Id:  <a href="mailto:sixthsixth2177@gmail.com">  Priyanshu</a></p>
<p style="font-size: 1.9rem;">GitHub:  <a href="https://github.com/Priyanshuiiitg">Priyanshuiiitg</a></p>
<p style="font-size: 1.9rem;">LinkedIn:   <a href="https://www.linkedin.com/in/priyanshu-shukla-9b0460226/">  PriyanshuShukla</a></p>

<%- include("partials/footer");  -%> 