 
<%- include("partials/header");  -%> 
<h1  style="font-size: 3.5rem; margin-top: 30px;">Home</h1>
<p style="font-size: 2rem;margin-top: 30px;"><%= text %> </p>

<div style="font-size: 1.6rem; margin-top: 60px;" class="form-group">
    <p>For visiting HomePage please visit :<strong>HOME</strong>  on the navbar menu</p>
    <p>For converting video to audio please visit:<strong>CONVERT</strong>  on the navbar menu</p>
    <p>For uploading audio file and adding timestamps to it please visit : <strong>UPLOAD</strong> and <strong>COMPOSE</strong> on the navbar menu</p>

    <p>For contacting us please visit : <strong>CONTACT US</strong> on navbar menu</p>
</div>
<%- include("partials/footer");  -%> 